template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_demo_aia_appdev_avnet_la1_name": {
            "type": "String"
        },
        "connections_cognitiveservicestextanalytics_externalid": {
            "type": "String"
        },
        "connections_office365_externalid": {
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_demo_aia_appdev_avnet_la1_name')]",
            "location": "westus",
            "tags": {
                "mtc-": "Jason Cook"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "Review": {
                                            "type": "string"
                                        },
                                        "product": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Send_an_email_(V2)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>You just recieved a Positive review!<br>\n<br>\nProduct: @{triggerBody()?['product']}<br>\nScore: @{body('Detect_Sentiment')?['score']}<br>\nReview: @{triggerBody()?['Review']}</p>",
                                            "Subject": "Positive Product Review",
                                            "To": "jasoncoo@onemtc.net"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Detect_Sentiment": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Send_an_email_(V2)_2": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>You just recieved a Negative review :(<br>\n<br>\nProduct: @{triggerBody()?['product']}<br>\nScore: @{body('Detect_Sentiment')?['score']}<br>\nReview: @{triggerBody()?['Review']}</p>",
                                                "Subject": "Negative Product Review",
                                                "To": "jasonCoo@onemtc.net"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365_1']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@body('Detect_Sentiment')?['score']",
                                            0.5
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Detect_Sentiment": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "text": "@triggerBody()?['Review']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/text/analytics/v2.1/sentiment"
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "Thanks for your review!",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "cognitiveservicestextanalytics": {
                                "connectionId": "[parameters('connections_cognitiveservicestextanalytics_externalid')]",
                                "connectionName": "cognitiveservicestextanalytics",
                                "id": "/subscriptions/6fb87d2c-003e-4521-9140-440c992da525/providers/Microsoft.Web/locations/westus/managedApis/cognitiveservicestextanalytics"
                            },
                            "office365_1": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/6fb87d2c-003e-4521-9140-440c992da525/providers/Microsoft.Web/locations/westus/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}